/*!
 * @package   yii2-grid
 * @author    Kartik Visweswaran <kartikv2@gmail.com>
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2014 - 2023
 * @version   3.5.3
 *
 * Yii2 Gridview widget styling and enhancements for Bootstrap.
 *
 */

/**
 * Table header and footer styling including floating header and footer
 */
.kv-table-header, .kv-table-footer {
    background: #fff;
}

.kv-table-footer {
    font-weight: bold;
    background: linear-gradient(to top, #fff 0%, #eee 100%);
}

.kv-table-header {
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.kv-grid-panel .table-bordered > thead.kv-table-header > tr,
.kv-grid-panel .table-bordered > thead.kv-table-header > tr > th,
.kv-grid-panel .table-bordered > thead.kv-table-header > tr > td,
.kv-grid-panel .kv-table-header > tr,
.kv-grid-panel .kv-table-header > tr > th,
.kv-grid-panel .kv-table-header > tr > td {
    border-bottom: none;
    border-top: none;
}

.kv-float-header, .kv-float-footer {
    position: sticky;
}

.kv-float-header {
    inset-block-start: 0;
    box-shadow: inset 0 -1px 0 #ccc;
}

.kv-float-footer {
    inset-block-end: 0;
    box-shadow: inset 0 2px 0 #ccc;
}

.kv-grid-container {
    position: relative;
}

.kv-grid-boolean {
    display: none;
}

/**
 * Table column heading sort styles for BS4
 */
.kv-grid-bs4 .card .kv-grid-table {
    margin: 0;
}

.kv-grid-bs4 .card .kv-grid-table fthfoot,
.kv-grid-bs4 .card .kv-grid-table fthfoot * {
    font-size: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.kv-sort-link.asc:after, .kv-sort-link.desc:after {
    content: "";
}

.kv-sort-link .kv-sort-icon {
    text-decoration: none;
    margin-left: 5px;
}

/**
 * Panel Styles
 */
.kv-panel-pager {
    height: 34px;
}

.kv-panel-pager .pagination {
    margin: 0 -5px;
    padding: 0;
}

.kv-grid-bs4 .kv-panel-pager .pagination {
    margin: -3px -9px;
}

.kv-panel-before {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.kv-panel-after {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.kv-table-float {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

.kv-align-center {
    text-align: center;
}

.kv-align-left {
    text-align: left;
}

.kv-align-right {
    text-align: right;
}

.kv-align-top {
    vertical-align: top !important;
}

.kv-align-bottom {
    vertical-align: bottom !important;
}

.kv-align-middle {
    vertical-align: middle !important;
}

.kv-nowrap {
    white-space: nowrap;
}

.kv-merged-header {
    border-bottom-width: 2px;
}

.kv-page-summary-container {
    font-weight: bold;
    border-top: 2px solid #ccc;
}

.kv-table-caption {
    font-size: 1.5em;
    padding: 8px;
    border: 1px solid #ddd;
    border-bottom: none;
    text-align: center;
}

.panel .kv-table-caption {
    border: none;
    border-bottom: 1px solid #ddd;
}

.kv-grid-loading {
    position: relative;
    overflow: hidden;
    max-height: 100%;
}

.kv-grid-loading .kv-loader-overlay {
    display: block;
}

.kv-loader-overlay {
    background: transparent;
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.kv-grid-loading .card,
.kv-grid-loading .table {
    background: transparent;
    opacity: 0.6;
}

.kv-loader {
    position: absolute;
    background: #fff url('../img/loading.gif') center center no-repeat !important;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
}

.kv-grid-hide {
    display: none !important;
}

.kv-grid-toolbar .dropdown-menu {
    z-index: 1025;
}

/**
 * Panel and Float Table Header BS3
 */
.panel > .floatThead-wrapper > .table,
.panel .table-responsive > .floatThead-wrapper > .table,
.panel > .panel-collapse > .table {
    margin-bottom: 0;
}

.panel > .floatThead-wrapper > .table caption,
.panel .table-responsive > .floatThead-wrapper > .table caption,
.panel > .panel-collapse > .table caption {
    padding-right: 15px;
    padding-left: 15px;
}

.panel > .floatThead-wrapper > .table:first-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel > .floatThead-wrapper > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .floatThead-wrapper > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel > .floatThead-wrapper > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .floatThead-wrapper > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .floatThead-wrapper > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .floatThead-wrapper > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px;
}

.panel > .floatThead-wrapper > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .floatThead-wrapper > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .floatThead-wrapper > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .floatThead-wrapper > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive > .floatThead-wrapper:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px;
}

.panel > .floatThead-wrapper > .table:last-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel > .floatThead-wrapper > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .floatThead-wrapper > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel > .floatThead-wrapper > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .floatThead-wrapper > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .floatThead-wrapper > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .floatThead-wrapper > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}

.panel > .floatThead-wrapper > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .floatThead-wrapper > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .floatThead-wrapper > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .floatThead-wrapper > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive > .floatThead-wrapper:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .floatThead-wrapper > .table + .panel-body,
.panel > .table-responsive > .floatThead-wrapper + .panel-body {
    border-top: 1px solid #ddd;
}

.panel > .floatThead-wrapper > .table > tbody:first-child > tr:first-child th,
.panel > .floatThead-wrapper > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
}

.panel > .floatThead-wrapper > .table-bordered,
.panel .table-responsive > .floatThead-wrapper > .table-bordered {
    border: 0;
}

.panel > .floatThead-wrapper > .table-bordered > thead > tr > th:first-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > thead > tr > th:first-child,
.panel > .floatThead-wrapper > .table-bordered > tbody > tr > th:first-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tbody > tr > th:first-child,
.panel > .floatThead-wrapper > .table-bordered > tfoot > tr > th:first-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tfoot > tr > th:first-child,
.panel > .floatThead-wrapper > .table-bordered > thead > tr > td:first-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > thead > tr > td:first-child,
.panel > .floatThead-wrapper > .table-bordered > tbody > tr > td:first-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tbody > tr > td:first-child,
.panel > .floatThead-wrapper > .table-bordered > tfoot > tr > td:first-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}

.panel > .floatThead-wrapper > .table-bordered > thead > tr > th:last-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > thead > tr > th:last-child,
.panel > .floatThead-wrapper > .table-bordered > tbody > tr > th:last-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tbody > tr > th:last-child,
.panel > .floatThead-wrapper > .table-bordered > tfoot > tr > th:last-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tfoot > tr > th:last-child,
.panel > .floatThead-wrapper > .table-bordered > thead > tr > td:last-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > thead > tr > td:last-child,
.panel > .floatThead-wrapper > .table-bordered > tbody > tr > td:last-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tbody > tr > td:last-child,
.panel > .floatThead-wrapper > .table-bordered > tfoot > tr > td:last-child,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}

.panel > .floatThead-wrapper > .table-bordered > thead > tr:first-child > td,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > thead > tr:first-child > td,
.panel > .floatThead-wrapper > .table-bordered > tbody > tr:first-child > td,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tbody > tr:first-child > td,
.panel > .floatThead-wrapper > .table-bordered > thead > tr:first-child > th,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > thead > tr:first-child > th,
.panel > .floatThead-wrapper > .table-bordered > tbody > tr:first-child > th,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0;
}

.panel > .floatThead-wrapper > .table-bordered > tbody > tr:last-child > td,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tbody > tr:last-child > td,
.panel > .floatThead-wrapper > .table-bordered > tfoot > tr:last-child > td,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tfoot > tr:last-child > td,
.panel > .floatThead-wrapper > .table-bordered > tbody > tr:last-child > th,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tbody > tr:last-child > th,
.panel > .floatThead-wrapper > .table-bordered > tfoot > tr:last-child > th,
.panel .table-responsive > .floatThead-wrapper > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
    border-radius: 3px;
}

/**
 * Responsive table wrapping
 */
@media screen and (max-width: 480px) {
    .kv-table-wrap th, .kv-table-wrap td {
        display: block;
        width: 100% !important;
        text-align: center;
        font-size: 1.2em;
    }

    .kv-table-wrap tr > td:first-child {
        border-top: 3px double #ccc;
        margin-top: 10px;
        font-size: 2em;
    }
}

/**
 * RadioColumn styles
 */
.kv-clear-radio {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.35em;
    text-shadow: 0 1px 0 #fff;
}

.kv-clear-radio:focus,
.kv-clear-radio:hover {
    color: #245269;
    text-decoration: none;
}

/**
 * Grid Grouping Styles
 */
td.kv-group-even {
    background-color: #f0f1ff !important;
}

.table-hover td.kv-group-even:hover {
    background-color: #d7d9ff !important;
}

td.kv-group-odd {
    background-color: #f9fcff !important;
}

.table-hover td.kv-group-odd:hover {
    background-color: #d7ecff !important;
}

.kv-grouped-row {
    background-color: #FFF0F5 !important;
    font-size: 1.3em;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.table-hover .kv-grouped-row:hover {
    background-color: #FFE4E1 !important;
}

/**
 * Grid styles for floating header and perfect scrollbar
 */
.kv-grid-wrapper {
    position: relative;
    overflow: auto;
    height: 320px;
}

/**
 * Fix overflow and make layout responsive for mobile/small devices
 */
@media (max-width: 768px) {
    .hide-resize .rc-handle-container {
        overflow: hidden;
    }
}

/**
 * Boolean column Select2 filter
 */
.select2-results__option--highlighted .kv-bool-icon > * {
    color: inherit !important;
}